table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
}
.head {
    background: black;
    color: azure;
    padding: 10px 80px;
    font-weight: bold;
}
td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: azure;
}
td {
/*background: #D8E6F3;*/
  background: black;
  color: azure;
}
.box-shadow {
box-shadow: 0 2px 5px 0
rgba(0, 0, 0, 0.5), 0
0,1px 0,1px 0 rgba(0, 0, 0, 1);
}

p {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    background: black;
    color: azure;
    font-size: x-large;
}
.px-2 {
    text-align: right;
}

ul li {
    font-size: 20px;
}




