{% extends 'header.html' %}

{% block title %}
Beatles Collections
{% endblock %}
{% block body %}
    <br>
    <br>
    <div class="container">
            <h1 class="display-1 text-center">Current stress test is done!</h1>
    </div>
    <div align="center">
      <input type="button" class="head" onclick="history.back();" value="Cancel"/>
    </div>
{% endblock %}
