{% extends 'header.html' %}

{% block title %}
Update Information from DB
{% endblock %}

{% block body %}
  <body>
    <br>
    <br>
    <br>
    <p align="center">Updated information at {{ timestamp }}</p>
    <div align="center">
      <input type="button" class="head" onclick="history.back();" value="Cancel"/>
    </div>
  </body>
</html>
{% endblock %}

